{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
<div class="col-lg-7 mb-5 mx-auto">
    <div class="contact-form bg-light p-30">
        <div class="registration form">
            <header>Signup</header>
            <form method="POST">
                {% csrf_token %}
                <label>Email</label>
                <input class="form-control" type="text" placeholder="Enter your username" name="username">
                <label>password</label>
                <input class="form-control" type="password" placeholder="Create the password" name="password">
                <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Login</button>
            </form>
            <div class="signup">
                <span class="signup">Are you forget the password?
                <a href="#">forget the password</a>
                </span>
            </div>
            <div class="signup">
                <span class="signup">Don't have an account?
                <a href="{% url 'accounts:signup' %}">SignUp</a>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock body %}